<!DOCTYPE html>
<html ng-app="MyApp">
<head>
<meta charset="UTF-8"></meta>

<!-- Libreria CCS bootstrap -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

<!-- Libreria CCS propia del aplicativo -->
<link rel="stylesheet" href="../../css/style.css"></link>

<!-- Libreria Jquery - requerida por boopstrap -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Libreria bootstrap -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Libreria angularJS -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

<!-- Libreria propia del aplicativo -->
<script src="../../js/app.js"></script>
<script src="../../js/service.js"></script>

<title>Fechas</title>
</head>
<body ng-controller="MyController">
	<h1>Spring - MVC Boot Rest - AngularJS - Gradle - HTML 5</h1>
	<hr>

	<div class="container">
		<div class="row">
			<div class="row col-sm-9 bg-success">
				<a th:insert="@{/nameDay}"></a>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="row col-sm-9 bg-success">
				<a th:insert="@{/daysBetweenDates}"></a>
			</div>
		</div>
	</div>
</body>
</html>
